.-rotate-90 {
    transform: rotate(-90deg);
}
.i23-Form-QuickLink{
    display: block;
    /* padding: 1rem; */
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-duration: 500ms;
    padding-left: 20rem/* 320px */;

}
.i23-Form-QuickLink-notify{
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
    width: 6rem/* 96px */;
    height: 2.5rem/* 40px */;
    border-radius: 0.375rem/* 6px */;
    text-align: center;
    
    
}
.i23-form-Quicklinks-List{
    display: flex;
   
}
.i23-form-Quicklinks-List-cols{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    /* row-gap: 1rem; */
    /* margin-top: 1rem; */
    transform: rotate(90deg);
}
.flex {
    display: flex;
}
.mr-3 {
    margin-right: 0.75rem/* 12px */;
}
.hidden {
    display: none;
}
[x-cloak] { 
    display: none; 
}
.mb-4 {
    margin-bottom: 1rem/* 20px */;
}
.right-16 {
    right: 4rem/* 64px */;
}
.bottom-6 {
    bottom: 1.5rem/* 24px */;
}
.right-14 {
    right: 3.5rem/* 56px */;
}
.top-4 {
    top: 1rem/* 16px */;
}
.right-12 {
    right: 3rem/* 48px */;
}
.ml-96 {
    margin-left: 24rem/* 384px */;
}
.mr-0 {
    margin-right: 0px;
}
.ml-72 {
    margin-left: 45rem/* 288px */;
}
.left-0 {
    left: 0px;
}
.right-0
{
    right:0px;
}
.top-0
{
    top:0px;
}
.mr-56 {
    margin-right: 30rem/* 224px */;
}
.right-12 {
    right: 3rem/* 48px */;
}
.right-10 {
    right: 2.5rem/* 40px */;
}
.right-6 {
    right: 1.5rem/* 24px */;
}
.right-3 {
    right: 0.75rem/* 12px */;
}
.bottom-10 {
    bottom: 2.5rem/* 40px */;
}
.right-2 {
    right: 0.5rem/* 8px */;
}
.left-2 {
    left: 0.5rem/* 8px */;
}
.relative {
    position: relative;
}
.-right-10 {
    right: -2.5rem/* -40px */;
}
.-left-10 {
    left: -2.5rem/* -40px */;
}
.-right-2 {
    right: -0.5rem/* -8px */;
}
.-right-20 {
    right: -5rem/* -80px */;
}
.-right-48 {
    right: -12rem/* -192px */;
}
.bottom-16 {
    bottom: 4rem/* 64px */;
}
.bottom-20 {
    bottom: 5rem/* 80px */;
}
.bottom-60 {
    bottom: 15rem/* 240px */;
}