@page "/counter"
@inject IJSRuntime JavaScript
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button @onclick=@HandleClick>hello</button>

@code {
	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;

	}
	private async void HandleClick()
	{
		var message = await GetGreeting("abcd");
		Alert(message);
	}
	private void Alert(string message)
	{
		JavaScript.InvokeVoidAsync("alert", message);
	}
	private ValueTask<string> GetGreeting(string name)
	{
		return JavaScript.InvokeAsync<string>("getGreeting", name);
	}
}
